<div><%= flash[:notice] %></div>
<%= render 'list', book: @book_new, user: @user %>
<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
 <table class="table"><br>
 <tbody>
   <tr>
    <td>
      <%= link_to user_path(@user.id) do %>
      <%= image_tag @user.get_profile_image %><br>
      <%= @user.name %>
      <% end %>
    </td>
    <td>
     <%= link_to user_path(@user.id) do %>
     <%= @book.title %>
     <% end %>
    </td>
    <td><%= @book.body %></td>
    <% if @user == current_user %>
    <td>
     <%= link_to edit_book_path(@book.id),class:"btn btn-sm btn-success edit_book_98935" do %> Edit
     <% end %>
    </td>
    <td><%= link_to book_path(@book.id), method: :delete,class:"btn btn-sm btn-danger destroy_book_98935" do %> Destroy
     <% end %>
    </td>
    <% end %>
   </tr>
 </tbody>
 </table>
</div>





